<nav class="uk-navbar-container navbar" uk-navbar uk-sticky>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="">home</a></li>
        </ul>
    </div>
</nav>