/*** NAVBAR HOME ***/
.navbar-home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/header.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  height: 100vh !important; }
  .navbar-home .test {
    padding-top: 15%;
    text-align: center; }
    .navbar-home .test h1 {
      margin-bottom: 50px; }
    .navbar-home .test span {
      width: 100px; }

.navbar a {
  color: white !important; }

.uk-navbar-container {
  padding: 0px 50px; }

.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: #2b2b28 !important; }

/*** WEBSITE ***/
.website .block {
  background-color: #eeeeee; }

.website .uk-container {
  padding: 80px 0px; }

.languagepicker .uk-navbar-dropdown {
  width: 100px;
  margin-right: 100px !important; }

.languagepicker img {
  margin-right: 10px;
  margin-top: -3px; }

.languagepicker a {
  color: #2b2b28 !important; }

.languagepicker .hoofd-link {
  color: white !important; }
  .languagepicker .hoofd-link img {
    margin-right: 10px;
    margin-top: 1px; }
