/*** NAVBAR HOME ***/
.navbar-home {
    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url(../images/header.jpg) !important;
    //background-image: url("../images/header.jpg") ,rgba(255, 0, 0, 0.25) !important;
    background-size:     cover !important;                 
    background-repeat:   no-repeat !important;
    background-position: center center !important;
    height: 100vh !important;  
    .test{
        padding-top: 15%;
    }
}
.navbar {
    a {
        color: white !important;
    }
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #2b2b28 !important;
}

/*** WEBSITE ***/
.website {
    .block {
        background-color: #eeeeee;
    }
    .uk-container {
        padding: 80px 0px;
    }
}